<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ dataFromParent?.fromAirport }} - {{ dataFromParent?.toAirport }}
    </mat-panel-title>
    <mat-panel-description>
      {{ dataFromParent?.departureTime }}
      <span class="actions">
        <button mat-button (click)="favorite($event)">
          <mat-icon *ngIf="!dataFromParent?.favorited">favorite_border</mat-icon
          ><mat-icon *ngIf="dataFromParent?.favorited">favorite</mat-icon>
        </button>
        <button mat-button (click)="hide($event)">
          <mat-icon *ngIf="!dataFromParent?.hidden">visibility</mat-icon>
          <mat-icon *ngIf="dataFromParent?.hidden">visibility_off</mat-icon>
        </button>
      </span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    <span class="detail"
      >Duration: {{ formatDuration(dataFromParent?.flightDuration) }}</span
    >
    <span class="detail price">{{ dataFromParent?.price }}€</span>
    <span class="detail-button"
      ><button mat-button (click)="openDetail()">
        <mat-icon>search</mat-icon>
      </button></span
    >
  </p>
</mat-expansion-panel>
