.price {
  position: absolute;
  right: 7%;
}

.actions {
  position: absolute;
  right: 10%;
  top: 10%;
}

.detail {
  font-weight: bold;
}

.detail-button {
  position: absolute;
  right: 0%;
  bottom: 17%;
}
